@import 'base';
@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/sass-burger/burger';

body {
  max-width: 1920px;
  height: auto;
  margin: 0 auto;
}

.container {
  width: 100%;
}

.navbar {
  text-align: center;
  background-color: #ffffff;
  border-bottom: 2px solid white;
  display: flex;
  max-width: 1920px;
  height: auto;
  padding: 0;
  justify-content: space-between;
  overflow: visible;
}

.navbar-header {
  clear: both;
}

.logo {
  float: left;
}

.btn-primary {
  display: inline-block;
  padding: 0.5em;
  background-color: #fafafa;
  border: 1px solid #ccc;
  clear: right;
}

.burger-icon {
  @include burger(25px, 3px, 5px, #444);
}

.menu-button.is-active .burger-icon {
  @include burger-to-cross;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.banner {
  position: relative;


  //background-image: url('/img/hero-image.jpg');

  img {
    background-size: cover;
    max-width: 100%;
    height: auto;
    justify-content: center;
  }

  h1 {
    padding-top: 800px;
    font-size: 24px;
    position: absolute;
  }
}

.overview {
  h2 {
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 18px;
  }

  hr {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.testimonials {
  .col {
    border: 1px solid gray;
    margin: 8px;
    background-color: rgba(0, 0, 0, .5);
    color: white;
  }
}

.content {
  font-size: 14px;
  width: 80%;
  height: auto;
  margin: 0 auto;
}

@include media-breakpoint-up(sm) {
  .content {
    font-size: 20px;
  }

  .overview {
    h2 {
      margin-top: 40px;
      margin-bottom: 40px;
    }

    hr {
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }

  .navbar {
    font-size: 28px;
    text-align: right;
    background-color: #ffffff;
    border-bottom: 2px solid white;

    max-width: 1920px;
    height: 80px;
    padding: 0;
    justify-content: space-between;
  }

  .banner {
    width: auto;
    height: auto;
    overflow: hidden;

    h1 {
      font-size: 36px;
    }
  }

  // Styles
}

@media (min-width: 1024px) {
  .banner {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
}